{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Welcome to My Chat App</h1>
            <div id="online-status" class="text-center mt-4">
                <div class="form-check form-switch d-flex justify-content-center">
                    <input class="form-check-input" type="checkbox" id="statusSwitch" name="status" checked>
                    <label class="form-check-label" for="statusSwitch" id="statusLabel">Online</label>
                </div>
            </div>
            <div class="text-center mt-4">
                <a id="joinChat" href="{% url 'connect' %}" class="btn btn-primary">Join Chat</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        var user = {{ user.pk }};
        $('#statusSwitch').change(function() {
            var isChecked = $(this).prop('checked');

            $.ajax({
                url: '/update-status/',
                method: 'GET',
                data: {
                    status: isChecked ? 'on' : 'off',
                    user: user,
                },
                success: function(response) {
                    $('#statusLabel').text(response);
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    });
</script>
{% endblock %}
