{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Sign Up</h2>
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_full_name">Full Name</label>
                    {% render_field form.full_name class="form-control" id="id_full_name" name="full_name" required="True" %}
                </div>

                <div class="form-group">
                    <label for="id_email">Email</label>
                    {% render_field form.email class="form-control" id="id_email" name="email" required="True" %}
                </div>

                <div class="form-group">
                    <label for="id_phone_number">Phone Number</label>
                    {% render_field form.phone_number class="form-control" id="id_phone_number" name="phone_number" required="True" %}
                </div>

                <div class="form-group">
                    <label for="id_gender">Gender</label>
                    {% render_field form.gender class="form-control" id="id_gender" name="gender" required="True" %}
                </div>

                <div class="form-group">
                    <label for="id_interests">Interests</label>
                    {% render_field form.interests id="id_interests" name="interests" %}
                </div>


                <div class="form-group">
                    <label for="id_password">Password</label>
                    {% render_field form.password class="form-control" id="id_password" name="password" required="True" %}
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}